.card-wrapper {
  width: auto;
  display: flex;
  justify-content: center;
}

.card {
  border-radius: 10px;
  box-shadow: 0px 5px 20px rgb(56, 55, 55);
  margin: 20px;
  display: flex;
  flex-wrap: initial;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 450px;
  border-color: rgb(44, 183, 238);
  padding: 16px;
  background-color: #66d9ff;
  color: white;
}

.fivedays-button {
  background-color: rgb(32, 165, 206);
  border: none;
  padding: 10px 20px;
  color: white;
}

.min-max-temp {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
